#map {
    display: flex;
}

#lok {
    display: flex;
    flex-wrap: wrap;
    width: 400px;

}

.dblok {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    outline: 1px solid darkred;
    background-color: #000000;
}

.wblok {
    width: 50px;
    height: 50px;
    outline: 1px solid darkred;
}

.rowLetters {
    margin-left: 49px;
    letter-spacing: 34px;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.colmLetters {
    font-size: 1.5em;
    line-height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

#line {
    margin-top: 10px;
    height: 5px;
    background-color: #ffe571;
}
.basketBox{
    margin-top: 20px;
}
#click{
    height: 50px;
    width: 600px;
    border: 1px solid black;
    text-align: center;
    font-size: 33px;
    line-height: 50px;
    background-color: #ffb88d;
    cursor: default;
}

.product{
    height: 50px;
    width: 600px;
    border: 1px solid black;
    text-align: center;
    font-size: 33px;
    line-height: 50px;
}

.totalPricePr{
    height: 50px;
    width: 600px;
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    background-color: #e3e3e3;
}